.homePageContainer {
  width: 100%;
  padding: 0 20px 0 20px;
  background-color: #313131;
}

.moviesList {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
}
.moviePoster {
  border-radius: 12px;
  margin-bottom: 15px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.moviePoster:hover {
  transform: scale(1.03);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.342);
}
.title {
  color: #fff;
  font-size: 47px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  padding: 55px;
}

.movieItem {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.linkMovie {
  max-width: 280px;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  transition: color 0.3s ease;
}

.linkMovie:hover {
  color: #ff5100;
}
